@import "../styles/variables.scss";
.freetrial-wrap {
  padding: 60px 0;
  .freetrial {
    margin: 20px auto;
    justify-content: center;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: $bs-md;
    border-radius: 12px;
    background: url("data:image/svg+xml,%0A%3Csvg width='203' height='194' viewBox='0 0 203 194' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='203' height='194'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath opacity='0.5' d='M201.5 73.5L83 192' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M201.5 64.5L83 183' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M192.5 64.5L74 183' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M192.5 55.5L74 174' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M183.5 55.5L65 174' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M183.5 46.5L65 165' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M174.5 46.5L56 165' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M174.5 37.5L56 156' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M165.5 37.5L47 156' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M165.5 28.5L47 147' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M156.5 28.5L38 147' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M156.5 19.5L38 138' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M147.5 19.5L29 138' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M138.5 19.5L20 138' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M138.5 10.5L20 129' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M129.5 10.5L11 129' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M129.5 1.5L11 120' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M129.5 -7.5L11 111' stroke='%234686FE' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Ccircle cx='102.5' cy='93.5' r='55.5' fill='%234686FE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='202.5' height='193.5' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
      top right -70px $white no-repeat;
    background-size: 140px;
    max-width: 800px;
    padding: 32px;
    @media (max-width: 767px) {
      flex-direction: column;
      padding: 24px;
    }
    .btn-primary {
      margin: 15px 0;
      @media (max-width: 767px) {
        margin: 15px auto;
      }
    }
    .ui.input {
      @media (min-width: 767px) {
        display: flex;
        justify-content: center;
      }
    }
    button[type="submit"] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @media (max-width: 767px) {
        border-radius: 56px;
        max-width: 100%;
      }
    }
    .heading {
      p {
        margin: 20px 0;
        line-height: 30px;
      }
      .number {
        margin-right: 6px;
        font-size: 60px;
        font-weight: 700;
      }
    }
    .lists {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
        margin-top: 40px;
      }
      ul {
        margin: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        li {
          font-size: 18px;
          margin: 0 0 20px;
          list-style: none;
          padding: 0 0 0 40px;
          font-weight: 600;
          position: relative;
          width: 50%;
          text-align: left;
          &:before {
            content: "";
            background-image: url("data:image/svg+xml, %3Csvg id='a2e7bcc7-6fd7-4fea-a944-ee4d7839c6a4' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.a741f83a-7123-4be0-b492-a31fb9ced50b %7B fill: none; stroke: %23008ecf; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px; %7D%3C/style%3E%3C/defs%3E%3Cpath id='ef586f63-e639-45ee-bd06-c9e40b045275' data-name='Shape 384' class='a741f83a-7123-4be0-b492-a31fb9ced50b' d='M84,30.74,41.15,73.59a5.87,5.87,0,0,1-8.3,0L19.38,60.13'/%3E%3C/svg%3E");
            width: 24px;
            height: 24px;
            top: 2px;
            left: 0;
            position: absolute;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
    p {
      font-size: 18px;
      @media (min-width: 767px) {
        padding: 0 24px;
      }
    }
    &:before {
      content: "";
      border-width: 40px;
      border-color: #82a4e3 #82a4e3 rgba(130, 164, 227, 0)
        rgba(130, 164, 227, 0);
      border-style: solid;
      border-radius: 100px;
      position: absolute;
      left: 4%;
      bottom: -40px;
      transform: rotate(-45deg);
      @media (max-width: 767px) {
        border-color: transparent;
      }
    }
  }
}
