@import "../styles/variables.scss";
.header {
  width: 100%;
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  position: relative;
  z-index: 1;
  @media (max-width: 992px) {
    flex-direction: column;
    height: auto;
    z-index: 2147483646 !important;
  }
  .logo-icon {
    @media (max-width: 992px) {
      background-color: $white;
      width: 100%;
      justify-content: center;
    }
  }
  img {
    margin-bottom: 0;
  }
  .logo {
    @media (max-width: 992px) {
      justify-content: center;
      background: $white;
      width: 100%;
    }
  }
  & > a {
    display: flex;
    align-items: stretch;
    width: 280px;
    height: 96px;
    padding: 0 48px 0 32px;
    img {
      max-height: 30px;
    }
    @media (max-width: 992px) {
      padding: 0 32px;
    }
  }
  .menuLinks {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 85.4%;
    height: 96px;
    list-style: none;
    @media (max-width: 992px) {
      width: 100%;
      flex-direction: column;
      height: auto;
      display: none;
    }
    .menuLinksinner {
      position: relative;
      display: flex;
      align-items: stretch;
      height: 96px;
      list-style: none;
      margin-left: auto;
      margin-right: 24px;
      @media (max-width: 992px) {
        height: auto;
      }
      ul {
        li {
          a {
            position: relative;
            &:hover {
              color: $blue-bright;
            }
          }
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      flex-wrap: wrap;
      @media (max-width: 992px) {
        justify-content: center;
      }
      li {
        margin: 0;
        display: flex;
        a {
          padding: 0 20px;
          color: $black;
          font-weight: 500;
          letter-spacing: 0.6px;
          text-decoration: none;
          font-size: 16px;

          &:hover {
            color: $blue-bright;
          }
          @media (max-width: 479px) {
            padding: 0 15px;
            font-size: 16px;
          }
          @media (max-width: 361px) {
            padding: 0 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
  .nav-btn {
    position: absolute;
    top: 38.5px;
    left: 16px;
    z-index: 1;
    @media (min-width: 993px) {
      display: none;
    }
    label {
      span {
        display: block;
        width: 32px;
        height: 3px;
        margin-bottom: 5px;
        background: $black;
        border-radius: 3px;
        transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.3s ease-in-out;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  #navCheck {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 96px;
    z-index: 3;
    cursor: pointer;
    &:checked ~ .menuLinks {
      @media (max-width: 992px) {
        display: block;
        background-color: $white;
        position: absolute;
        top: 96px;
        left: 0;
        z-index: 1;
        padding-bottom: 32px;
        box-shadow: $bs-md;
        nav {
          ul {
            li {
              width: 100%;
              a {
                color: $black;
                padding: 20px 22px;
                width: 100%;
              }
            }
          }
        }
      }
    }
    &:checked ~ .nav-btn {
      label {
        span {
          &:nth-child(2) {
            opacity: 0;
          }
          &:first-child {
            transform: rotate(45deg) translate(3px, 3px);
            top: 0;
            left: 0;
          }
          &:last-child {
            transform: rotate(-45deg) translate(8px, -8px);
            top: 0;
            left: 0;
          }
        }
      }
    }
    &:checked ~ .backdrop {
      @media (max-width: 992px) {
        background-color: rgba(0, 0, 0, 0.36);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
    }
  }
  .nav-right-side {
    height: 96px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    position: relative;
    justify-content: flex-end;
    @media (max-width: 992px) {
      margin-right: 0;
      justify-content: space-between;
      padding: 20px 22px 0;
      margin: 0;
      flex-direction: column;
      height: auto;
    }
    .free-signup {
      display: flex;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 60px;
      z-index: 1;
      @media (max-width: 992px) {
        margin-right: 0;
        padding: 0 0 40px 0;
      }
      .navcta {
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        @media (max-width: 992px) {
          max-width: 100%;
        }
      }
    }
  }
  a {
    display: flex;
    align-items: center;
  }
}

.search-wrapper {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  @media (max-width: 992px) {
    right: 0;
    width: 100%;
    position: relative;
  }
  a {
    &.search-button {
      width: 50px;
      font-size: 16px;
      background: url("data:image/svg+xml,%0A%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.34 35.34'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23000;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cpath className='cls-1' d='M25.26,22.23h-1.6l-.56-.55a13.15,13.15,0,1,0-1.42,1.42l.55.56v1.6l10.1,10.08,3-3Zm-12.12,0a9.1,9.1,0,1,1,9.09-9.09A9.08,9.08,0,0,1,13.14,22.23Z'/%3E%3C/svg%3E")
        no-repeat center;
      background-size: 20px 25px;
      justify-content: center;
      flex-direction: column;
      height: 44px;
      border-radius: 0 22px 22px 0;
      @media (max-width: 992px) {
        background-image: url("data:image/svg+xml, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.34 35.34'%3E%3Cpath fill='%23fff' d='M25.26,22.23h-1.6l-.56-.55a13.15,13.15,0,1,0-1.42,1.42l.55.56v1.6l10.1,10.08,3-3Zm-12.12,0a9.1,9.1,0,1,1,9.09-9.09A9.08,9.08,0,0,1,13.14,22.23Z'/%3E%3C/svg%3E") !important;
      }
    }
  }
  .search-term {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    border: 1px solid $white;
    height: 44px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 4px;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 992px) {
      border-color: $gray-medium;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      width: 250px !important;
      opacity: 1 !important;
      border-radius: 22px 0 0 22px !important;
      padding: 0 15px !important;
      z-index: 2 !important;
      @media (max-width: 992px) {
        width: calc(100% - 44px) !important;
      }
      & ~ a {
        background-color: $blue-bright !important;
      }
      &:focus {
        outline: none;
      }
    }
  }
  ul {
    width: 300px;
    top: 42px;
    padding: 1em;
    position: absolute;
    list-style: none;
    z-index: 999;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: $white;
    border: 0;
    border-top: 0;
    border-radius: 0 0px 8px 8px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px $gray-light;
    @media (max-width: 992px) {
      width: 100%;
      top: 44px;
    }
    li {
      border-bottom: solid 1px $gray-light;
      padding-bottom: 0.5em;
      margin-bottom: 0.5rem !important;
      display: flex;
      flex-direction: column;
      p {
        font-size: 16px;
      }
      a {
        font-weight: 500 !important;
        color: $black !important;
        padding: 0 !important;
        &:hover {
          color: $blue-bright !important;
        }
      }
    }
    li:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.search-term-open {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  width: 250px !important;
  opacity: 1 !important;
  border-radius: 22px 0 0 22px !important;
  padding: 0 15px !important;
  z-index: 2 !important;
  @media (max-width: 992px) {
    width: calc(100% - 44px) !important;
  }
  & ~ a {
    background-color: $blue-bright !important;
  }
  &:focus {
    outline: none;
  }
  & ~ .search-button {
    background-image: url("data:image/svg+xml, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.34 35.34'%3E%3Cpath fill='%23fff' d='M25.26,22.23h-1.6l-.56-.55a13.15,13.15,0,1,0-1.42,1.42l.55.56v1.6l10.1,10.08,3-3Zm-12.12,0a9.1,9.1,0,1,1,9.09-9.09A9.08,9.08,0,0,1,13.14,22.23Z'/%3E%3C/svg%3E") !important;
  }
}
